name: Custom Build with USB Logging

on:
  push:
    paths:
      - ".github/workflows/custom-build-with-logging.yml"
      - "app/boards/shields/k30/**"
  workflow_dispatch:
    # 允许手动触发构建

jobs:
  build-with-logging:
    runs-on: ubuntu-latest
    container:
      image: docker.io/zmkfirmware/zmk-build-arm:3.5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('app/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Initialize workspace (west init)
        run: west init -l app
      - name: Update modules (west update)
        run: west update --fetch-opt=--filter=tree:0
      - name: Export Zephyr CMake package (west zephyr-export)
        run: west zephyr-export
      - name: Build with USB Logging
        run: |
          west build -s app -p -b nrfmicro_13 -S zmk-usb-logging -- -DSHIELD=k30
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: k30-with-usb-logging
          path: build/zephyr/zmk.*
